
/* Gray Colors
/* -------------------------------- */

@each $num, $hex in $grays {
    .text-gray-#{$num} { color:#{$hex} !important; }
    .text-hover-gray-#{$num} {
		&:hover,
		&:focus,
		&:active {
			color: #{$hex} !important;
		}
	}
}

/* All Colors
/* -------------------------------- */

@each $name, $color in $colors {
	.text-#{$name} {
		color:$color !important;
		
		a&:hover,
		a&:focus,
		a&:active {
			color:darken($color,10%) !important; 
		}
    }
    .text-hover-#{$name} {
		&:hover,
		&:focus,
		&:active {
			color: #{$color} !important;
		}
	}
}

/* Sizes (variables)
/* -------------------------------- */

$sizes: (50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,400,500);

@each $int in $sizes {
	.text-#{$int} { font-size:#{$int  * 1%} !important; }
}
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		@each $int in $sizes {
			.text-#{$breakpoint}-#{$int} { font-size:#{$int  * 1%} !important; }
		}
	}
}

/* Line-height
/* -------------------------------- */

$line-height: () !default;
$line-height: map-merge((
	10:	'1',
	11:	'1.1',
	12:	'1.2',
	13:	'1.3',
	14:	'1.4',
	15: '1.5',
	16: '1.6',
	17: '1.7',
	18: '1.8',
	19: '1.9',
	20: '2.0',
), $line-height);

@each $name, $int in $line-height {
	.text-line-#{$name} { line-height:#{$int} !important; }
}